/**
 * collex.css
 *
 * Author: Center for Digital Humanities - University of South Carolina.
 * Version: Alpha.
 * Copyright: 2015. All Rights Reserved.
 */

/**
 * Metadata Submission Form
 */
.form-group:hover > .control-label > .close {
  opacity: 1;

  -webkit-transition: opacity 0.2s ease-in-out;
     -moz-transition: opacity 0.2s ease-in-out;
      -ms-transition: opacity 0.2s ease-in-out;
       -o-transition: opacity 0.2s ease-in-out;
          transition: opacity 0.2s ease-in-out;
}

.control-label > .close {
  opacity: 0;
  margin-top: -3px;

  -webkit-transition: opacity 0.2s ease-in-out;
     -moz-transition: opacity 0.2s ease-in-out;
      -ms-transition: opacity 0.2s ease-in-out;
       -o-transition: opacity 0.2s ease-in-out;
          transition: opacity 0.2s ease-in-out;
}

/**
 * Governance Page
 */
.comment-text { white-space: pre-line; }

/**
 * Bootstrap Modifications
 */
button.close,
button.close:hover { color: #000000; }

.well-sm { overflow: auto; }