/**
 * collex.css
 *
 * Author: Center for Digital Humanities - University of South Carolina.
 * Version: Alpha.
 * Copyright: 2015. All Rights Reserved.
 *
 * Table of Contents:
 * - Global Tags
 * - Global Classes
 * - Governance Page
 * - Edit Submission Page
 * - Bootstrap Modifications
 */

/**
 * Global Tags
 */
a { color: #82172A; }
a:hover,
a:focus { color: #681422; }

/**
 * Global Classes
 */
.form-group > .control-label > .close {
  opacity: 0;
  margin-top: -3px;

  -webkit-transition: opacity 0.2s ease-in-out;
     -moz-transition: opacity 0.2s ease-in-out;
      -ms-transition: opacity 0.2s ease-in-out;
       -o-transition: opacity 0.2s ease-in-out;
          transition: opacity 0.2s ease-in-out;
}

.form-group:hover > .control-label > .close {
  opacity: 1;

  -webkit-transition: opacity 0.2s ease-in-out;
     -moz-transition: opacity 0.2s ease-in-out;
      -ms-transition: opacity 0.2s ease-in-out;
       -o-transition: opacity 0.2s ease-in-out;
          transition: opacity 0.2s ease-in-out;
}

.form-item-example {
  margin: 15px;
  padding: 15px;

  color: #82172A;
  font-family: monospace;

  border: 1px dotted #000000;
  border-radius: 15px;
}

/**
 * Governance Page
 */
.comment-text { white-space: pre-line; }

/**
 * Edit Submission Page
 */
.last-updated {
  position: absolute;
  right: 0;
  bottom: 0;
}

.list-part { margin-bottom: 10px; }

/**
 * Comments and Suggested Viewers
 */
.viewer {
  display: inline-block;
  width: 24%;
  margin: 5px 4px;
  padding-top: 10px;
  padding-bottom: 10px;

  text-align: center;

  border-radius: 3px;
  background-color: #ECECEC;

  cursor: pointer;
}
.viewer:nth-child(4n+1) { margin-left: 7px; }
.viewer:hover,
.viewer-active {
  -webkit-box-shadow: 0 0 4px #000000;
     -moz-box-shadow: 0 0 4px #000000;
          box-shadow: 0 0 4px #000000;
}

/**
 * Bootstrap Modifications
 */
button.close,
button.close:hover { color: #000000; }

.well-sm { overflow: auto; }
